In [2]:
import pandas as pd

In [217]:
world_data = pd.read_csv("data/Indicators.csv")

In [67]:
world_data.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

In [218]:
# For the exploratory analysis, we focus on France data
france_data = world_data[indicators["CountryCode"] == "FRA"]
unique_indicators = france_data["IndicatorName"].value_counts()
# Export the unique indicators list in a file for an easier exploration
unique_indicators.to_csv("data/unique_indictors.csv")

We can see that some indicators are only present for certain years. We have to make sure the indicators we are interested in are available

In [219]:
# We select the indicators we are interested in
indicators_keep = [
    "Population, ages 0-14 (% of total)",
    "Population, ages 15-64 (% of total)",
    "Population ages 65 and above (% of total)"
    "Population, female (% of total)",
    "Population, total",
    "Rural population (% of total population)",
    "Population in largest city",
    "GDP growth (annual %)",
    "Surface area (sq. km)",
    "Population density (people per sq. km of land area)",
    "Electricity production from renewable sources, excluding hydroelectric (% of total)",
    "Electricity production from oil, gas and coal sources (% of total)",
    "Electricity production from nuclear sources (% of total)",
    "Electricity production from natural gas sources (% of total)",
    "Electricity production from hydroelectric sources (% of total)",
    "Electric power consumption (kWh per capita)",
    "Access to electricity (% of population)"
]
# We only keep the rows related to the indicators we're interested in
indicators_filter = france_data["IndicatorName"].isin(indicators_keep)
france_consumption_kpi_filtered = france_data[indicators_filter]

indicators_filter = world_data["IndicatorName"].isin(indicators_keep)
world_consumption_kpi_filtered = world_data[indicators_filter]

#### Let's investigate the indicators availability over the years for France

In [220]:
print(france_consumption["Year"].min())
print(france_consumption["Year"].max())

1960
2015

In [221]:
france_consumption_kpi_filtered.groupby("Year").count()

      CountryName  CountryCode  IndicatorName  IndicatorCode  Value
Year
1960           11           11             11             11     11
1961           14           14             14             14     14
1962           14           14             14             14     14
1963           14           14             14             14     14
1964           14           14             14             14     14
1965           14           14             14             14     14
1966           14           14             14             14     14
1967           14           14             14             14     14
1968           14           14             14             14     14
1969           14           14             14             14     14
1970           14           14             14             14     14
1971           14           14             14             14     14
1972           14           14             14             14     14
1973           14           14             14             14     14
1974           14           14             14             14     14
1975           14           14             14             14     14
1976           14           14             14             14     14
1977           14           14             14             14     14
1978           14           14             14             14     14
1979           14           14             14             14     14
1980           14           14             14             14     14
1981           14           14             14             14     14
1982           14           14             14             14     14
1983           14           14             14             14     14
1984           14           14             14             14     14
1985           14           14             14             14     14
1986           14           14             14             14     14
1987           14           14             14             14     14
1988           14           14             14             14     14
1989           14           14             14             14     14
1990           15           15             15             15     15
1991           14           14             14             14     14
1992           14           14             14             14     14
1993           14           14             14             14     14
1994           14           14             14             14     14
1995           14           14             14             14     14
1996           14           14             14             14     14
1997           14           14             14             14     14
1998           14           14             14             14     14
1999           14           14             14             14     14
2000           15           15             15             15     15
2001           14           14             14             14     14
2002           14           14             14             14     14
2003           14           14             14             14     14
2004           14           14             14             14     14
2005           14           14             14             14     14
2006           14           14             14             14     14
2007           14           14             14             14     14
2008           14           14             14             14     14
2009           14           14             14             14     14
2010           15           15             15             15     15
2011           14           14             14             14     14
2012           15           15             15             15     15
2013           13           13             13             13     13
2014            8            8              8              8      8

Apparently the number of available indicators are more or less consistent over the years except for 2014. It's perhaps due to the data acquisition that got stopped in the middle of 2014 or any other reasons. 
We can check if the same pattern happens for other countries

In [222]:
world_consumption_kpi_filtered.groupby("Year").count()

      CountryName  CountryCode  IndicatorName  IndicatorCode  Value
Year
1960         1271         1271           1271           1271   1271
1961         1862         1862           1862           1862   1862
1962         1863         1863           1863           1863   1863
1963         1863         1863           1863           1863   1863
1964         1863         1863           1863           1863   1863
1965         1868         1868           1868           1868   1868
1966         1877         1877           1877           1877   1877
1967         1881         1881           1881           1881   1881
1968         1882         1882           1882           1882   1882
1969         1885         1885           1885           1885   1885
1970         1885         1885           1885           1885   1885
1971         2514         2514           2514           2514   2514
1972         2514         2514           2514           2514   2514
1973         2519         2519           2519           2519   2519
1974         2519         2519           2519           2519   2519
1975         2520         2520           2520           2520   2520
1976         2526         2526           2526           2526   2526
1977         2527         2527           2527           2527   2527
1978         2532         2532           2532           2532   2532
1979         2532         2532           2532           2532   2532
1980         2534         2534           2534           2534   2534
1981         2554         2554           2554           2554   2554
1982         2559         2559           2559           2559   2559
1983         2563         2563           2563           2563   2563
1984         2564         2564           2564           2564   2564
1985         2572         2572           2572           2572   2572
1986         2574         2574           2574           2574   2574
1987         2577         2577           2577           2577   2577
1988         2581         2581           2581           2581   2581
1989         2583         2583           2583           2583   2583
1990         2973         2973           2973           2973   2973
1991         2759         2759           2759           2759   2759
1992         2765         2765           2765           2765   2765
1993         2768         2768           2768           2768   2768
1994         2771         2771           2771           2771   2771
1995         2781         2781           2781           2781   2781
1996         2788         2788           2788           2788   2788
1997         2788         2788           2788           2788   2788
1998         2791         2791           2791           2791   2791
1999         2793         2793           2793           2793   2793
2000         3050         3050           3050           3050   3050
2001         2805         2805           2805           2805   2805
2002         2806         2806           2806           2806   2806
2003         2806         2806           2806           2806   2806
2004         2806         2806           2806           2806   2806
2005         2811         2811           2811           2811   2811
2006         2812         2812           2812           2812   2812
2007         2812         2812           2812           2812   2812
2008         2808         2808           2808           2808   2808
2009         2807         2807           2807           2807   2807
2010         3051         3051           3051           3051   3051
2011         2805         2805           2805           2805   2805
2012         3049         3049           3049           3049   3049
2013         1982         1982           1982           1982   1982
2014         1803         1803           1803           1803   1803

We can see the same thing is happening overall in all countries, meaning in 2014 only half of the indicators are available.
We can also notice that there's a large missing indicators before 1990. We will therefore only keep data from 1990

In [223]:
date_filter = (world_consumption_kpi_filtered["Year"] > 1989) & (world_consumption_kpi_filtered["Year"] < 2014)
world_consumption_kpi_date_filtered = world_consumption_kpi_filtered[date_filter]
world_consumption_kpi_date_filtered.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
1880402,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,1990,75.447507
1880476,Arab World,ARB,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,1990,1071.663819
1880479,Arab World,ARB,Electricity production from hydroelectric sour...,EG.ELC.HYRO.ZS,1990,7.186410
1880480,Arab World,ARB,Electricity production from natural gas source...,EG.ELC.NGAS.ZS,1990,47.862360
1880481,Arab World,ARB,Electricity production from nuclear sources (%...,EG.ELC.NUCL.ZS,1990,0.000000

#### Rename the indicator name

In [224]:
indicators_rename = {
    "Population, ages 0-14 (% of total)": "population_0_14_percent",
    "Population, ages 15-64 (% of total)": "population_15_64_percent",
    "Population ages 65 and above (% of total)": "population_65_plus_percent",
    "Population, female (% of total)": "female_population_percent",
    "Population, total": "total_population",
    "Rural population (% of total population)": "rural_population_percent",
    "Population in largest city": "population_largest_city",
    "GDP growth (annual %)": "gdp_growth_annual_percent",
    "Surface area (sq. km)": "surface_area",
    "Population density (people per sq. km of land area)": "population_density",
    "Electricity production from renewable sources, excluding hydroelectric (% of total)": "elec_energy_prod_renewable_percent",
    "Electricity production from oil, gas and coal sources (% of total)": "elec_energy_prod_oil_gas_coal_percent",
    "Electricity production from nuclear sources (% of total)": "elec_energy_prod_nuclear_percent",
    "Electricity production from natural gas sources (% of total)": "elec_energy_prod_naturalgas_percent",
    "Electricity production from hydroelectric sources (% of total)": "elec_energy_prod_hydroelectric_percent",
    "Electric power consumption (kWh per capita)": "elect_consumption_Kwh_per_capita",
    "Access to electricity (% of population)": "elect_access_percent_population"
}

In [225]:
world_filtered = world_consumption_kpi_date_filtered

In [226]:
world_filtered["kpis"] = world_filtered["IndicatorName"].apply(lambda name: indicators_rename[name])
world_filtered.head()

/var/folders/27/xxfsfp1d66sdmlxwsj3g8qzc0000gp/T/ipykernel_4828/868891167.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  world_filtered["kpis"] = world_filtered["IndicatorName"].apply(lambda name: indicators_rename[name])

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value,kpis
1880402,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,1990,75.447507,elect_access_percent_population
1880476,Arab World,ARB,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,1990,1071.663819,elect_consumption_Kwh_per_capita
1880479,Arab World,ARB,Electricity production from hydroelectric sour...,EG.ELC.HYRO.ZS,1990,7.186410,elec_energy_prod_hydroelectric_percent
1880480,Arab World,ARB,Electricity production from natural gas source...,EG.ELC.NGAS.ZS,1990,47.862360,elec_energy_prod_naturalgas_percent
1880481,Arab World,ARB,Electricity production from nuclear sources (%...,EG.ELC.NUCL.ZS,1990,0.000000,elec_energy_prod_nuclear_percent

In [233]:
world_clean = world_filtered.pivot_table(values='Value', index=["CountryCode","CountryName", "Year"], columns='kpis')

In [228]:
world_clean.to_csv("data/reshaped.csv")

In [229]:
world_clean

kpis                          elec_energy_prod_hydroelectric_percent  \
CountryCode CountryName Year
ABW         Aruba       1990                                     NaN
                        1991                                     NaN
                        1992                                     NaN
                        1993                                     NaN
                        1994                                     NaN
...                                                              ...
ZWE         Zimbabwe    2009                               74.859416
                        2010                               67.149143
                        2011                               56.891271
                        2012                               59.275968
                        2013                                     NaN

kpis                          elec_energy_prod_naturalgas_percent  \
CountryCode CountryName Year
ABW         Aruba       1990                                  NaN
                        1991                                  NaN
                        1992                                  NaN
                        1993                                  NaN
                        1994                                  NaN
...                                                           ...
ZWE         Zimbabwe    2009                                  0.0
                        2010                                  0.0
                        2011                                  0.0
                        2012                                  0.0
                        2013                                  NaN

kpis                          elec_energy_prod_nuclear_percent  \
CountryCode CountryName Year
ABW         Aruba       1990                               NaN
                        1991                               NaN
                        1992                               NaN
                        1993                               NaN
                        1994                               NaN
...                                                        ...
ZWE         Zimbabwe    2009                               0.0
                        2010                               0.0
                        2011                               0.0
                        2012                               0.0
                        2013                               NaN

kpis                          elec_energy_prod_oil_gas_coal_percent  \
CountryCode CountryName Year
ABW         Aruba       1990                                    NaN
                        1991                                    NaN
                        1992                                    NaN
                        1993                                    NaN
                        1994                                    NaN
...                                                             ...
ZWE         Zimbabwe    2009                              24.098203
                        2010                              32.040296
                        2011                              42.364909
                        2012                              40.030810
                        2013                                    NaN

kpis                          elec_energy_prod_renewable_percent  \
CountryCode CountryName Year
ABW         Aruba       1990                                 NaN
                        1991                                 NaN
                        1992                                 NaN
                        1993                                 NaN
                        1994                                 NaN
...                                                          ...
ZWE         Zimbabwe    2009                            1.042381
                        2010                            0.810560
                        2011                            0.743820
                        2012                            0.693222
                        2013                                 NaN

kpis                          elect_access_percent_population  \
CountryCode CountryName Year
ABW         Aruba       1990                         81.13573
                        1991                              NaN
                        1992                              NaN
                        1993                              NaN
                        1994                              NaN
...                                                       ...
ZWE         Zimbabwe    2009                              NaN
                        2010                         36.90000
                        2011                              NaN
                        2012                         40.46256
                        2013                              NaN

kpis                          elect_consumption_Kwh_per_capita  \
CountryCode CountryName Year
ABW         Aruba       1990                               NaN
                        1991                               NaN
                        1992                               NaN
                        1993                               NaN
                        1994                               NaN
...                                                        ...
ZWE         Zimbabwe    2009                        534.509263
                        2010                        551.170515
                        2011                        589.032009
                        2012                        561.807704
                        2013                               NaN

kpis                          gdp_growth_annual_percent  \
CountryCode CountryName Year
ABW         Aruba       1990                        NaN
                        1991                        NaN
                        1992                        NaN
                        1993                        NaN
                        1994                        NaN
...                                                 ...
ZWE         Zimbabwe    2009                   5.984391
                        2010                  11.375921
                        2011                  11.905408
                        2012                  10.565204
                        2013                   4.484095

kpis                          population_0_14_percent  \
CountryCode CountryName Year
ABW         Aruba       1990                24.549463
                        1991                24.090494
                        1992                23.808896
                        1993                23.688929
                        1994                23.597132
...                                               ...
ZWE         Zimbabwe    2009                41.479777
                        2010                41.535128
                        2011                41.502380
                        2012                41.509213
                        2013                41.545132

kpis                          population_15_64_percent  population_density  \
CountryCode CountryName Year
ABW         Aruba       1990                 67.796228          345.266667
                        1991                 68.515853          359.016667
                        1992                 69.021763          379.083333
                        1993                 69.299843          402.766667
                        1994                 69.477184          426.111111
...                                                ...                 ...
ZWE         Zimbabwe    2009                 55.268476           35.468520
                        2010                 55.252983           36.122262
                        2011                 55.327944           36.850438
                        2012                 55.377158           37.651498
                        2013                 55.401719           38.511289

kpis                          population_largest_city  \
CountryCode CountryName Year
ABW         Aruba       1990                      NaN
                        1991                      NaN
                        1992                      NaN
                        1993                      NaN
                        1994                      NaN
...                                               ...
ZWE         Zimbabwe    2009                1469572.0
                        2010                1474557.0
                        2011                1479559.0
                        2012                1484585.0
                        2013                1489614.0

kpis                          rural_population_percent  surface_area  \
CountryCode CountryName Year
ABW         Aruba       1990                    49.681         180.0
                        1991                    49.696         180.0
                        1992                    50.002         180.0
                        1993                    50.412         180.0
                        1994                    50.823         180.0
...                                                ...           ...
ZWE         Zimbabwe    2009                    66.622      390760.0
                        2010                    66.804      390760.0
                        2011                    66.985      390760.0
                        2012                    67.166      390760.0
                        2013                    67.346      390760.0

kpis                          total_population
CountryCode CountryName Year
ABW         Aruba       1990           62148.0
                        1991           64623.0
                        1992           68235.0
                        1993           72498.0
                        1994           76700.0
...                                        ...
ZWE         Zimbabwe    2009        13720997.0
                        2010        13973897.0
                        2011        14255592.0
                        2012        14565482.0
                        2013        14898092.0

[5928 rows x 15 columns]

In [234]:
world_clean = world_reshaped.reset_index()
world_clean

kpis,id,CountryCode,CountryName,Year,elec_energy_prod_hydroelectric_percent,elec_energy_prod_naturalgas_percent,elec_energy_prod_nuclear_percent,elec_energy_prod_oil_gas_coal_percent,elec_energy_prod_renewable_percent,elect_access_percent_population,elect_consumption_Kwh_per_capita,gdp_growth_annual_percent,population_0_14_percent,population_15_64_percent,population_density,population_largest_city,rural_population_percent,surface_area,total_population
0,0,ABW,Aruba,1990,NaN,NaN,NaN,NaN,NaN,81.13573,NaN,NaN,24.549463,67.796228,345.266667,NaN,49.681,180.0,62148.0
1,1,ABW,Aruba,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.090494,68.515853,359.016667,NaN,49.696,180.0,64623.0
2,2,ABW,Aruba,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.808896,69.021763,379.083333,NaN,50.002,180.0,68235.0
3,3,ABW,Aruba,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.688929,69.299843,402.766667,NaN,50.412,180.0,72498.0
4,4,ABW,Aruba,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.597132,69.477184,426.111111,NaN,50.823,180.0,76700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5251,5923,ZWE,Zimbabwe,2009,74.859416,0.0,0.0,24.098203,1.042381,NaN,534.509263,5.984391,41.479777,55.268476,35.468520,1469572.0,66.622,390760.0,13720997.0
5252,5924,ZWE,Zimbabwe,2010,67.149143,0.0,0.0,32.040296,0.810560,36.90000,551.170515,11.375921,41.535128,55.252983,36.122262,1474557.0,66.804,390760.0,13973897.0
5253,5925,ZWE,Zimbabwe,2011,56.891271,0.0,0.0,42.364909,0.743820,NaN,589.032009,11.905408,41.502380,55.327944,36.850438,1479559.0,66.985,390760.0,14255592.0
5254,5926,ZWE,Zimbabwe,2012,59.275968,0.0,0.0,40.030810,0.693222,40.46256,561.807704,10.565204,41.509213,55.377158,37.651498,1484585.0,67.166,390760.0,14565482.0
5255,5927,ZWE,Zimbabwe,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.484095,41.545132,55.401719,38.511289,1489614.0,67.346,390760.0,14898092.0

In [235]:
world_clean["CountryName"].value_counts().to_csv("data/unique_countries.csv")

In [236]:
countries_to_remove = [
    "High income: nonOECD",
    "High income: OECD",
    "OECD members",
    "Other small states",
    "Low income",
    "Lower middle income",
    "Low & middle income",
    "Middle East & North Africa (all income levels)",
    "Middle income",
    "Middle East & North Africa (developing only)",
    "Latin America & Caribbean (all income levels)",
    "Upper middle income",
    "World",
    "South Asia",
    "Sub-Saharan Africa (developing only)",
    "Sub-Saharan Africa (all income levels)",
    "Small states",
    "Least developed countries: UN classification",
    "Central Europe and the Baltics",
    "East Asia & Pacific (developing only)",
    "East Asia & Pacific (all income levels)",
    "Europe & Central Asia (all income levels)",
    "Arab World",
    "Europe & Central Asia (developing only)",
    "Heavily indebted poor countries (HIPC)",
    "Latin America & Caribbean (developing only)",
    "Fragile and conflict affected situations",
    "High income"
]

In [237]:
keep_countries_filter = ~world_clean["CountryName"].isin(countries_to_remove)
world_clean = world_clean[keep_countries_filter]

Rename the country names to remove everything after the "," if there is one

In [238]:
def clean_country_name(country_name):
    clean_name = country_name.split(",")[0]
    return clean_name

world_clean["CountryName"] = world_clean["CountryName"].apply(lambda name: clean_country_name(name))

In [242]:
world_clean.to_csv("output/energy_consumption.csv")